.fa {
    color: #E84699;
}


.shake {
    animation: shake 1s linear infinite;
}



@keyframes shake {
    0% {
        transform: translateX(-2rem) rotate(-22.5deg)
    }
    20% {
        transform: translateX(2rem) rotate(22.5deg)
    }
    40% {
        transform: translateX(-2rem) rotate(-22.5deg)
    }
    60% {
        transform: translateX(2rem) rotate(22.5deg)
    }
    80% {
        transform: translateX(-2rem) rotate(-22.5deg)
    }
    100% {
        transform: translateX(2rem) rotate(22.5deg)
    }
}